@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.col2{
  background-color: black;
}

.logo{
  width: 100px;
  border-radius: 110px;
  margin: 20px 0 10px 20px;
}

.col1{
  background-color: rgb(32, 31, 31);
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
}

.ulist{
  list-style: none;
}

.ulist li{
  padding: 25px 0;
  font-size: 25px;
}
